In [3]:
!pip install faker

Collecting faker
  Downloading Faker-13.3.1-py3-none-any.whl (1.5 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\shahr\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\shahr\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-13.3.1
Requirement already satisfied: faker in c:\users\shahr\anaconda3\lib\site-packages (13.3.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\shahr\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\shahr\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [34]:
from faker import Faker
import numpy as np
import pandas as pd

faker = Faker()
n = 15 # number of samples
m = 10 # features
def generate_data(n,m):
    
    dataset_arr = np.array([[faker.random_int(0, 100) for j in range(1,m+1)] for i in range(1,n)])
    
    return pd.DataFrame(dataset_arr)

In [28]:
pd.DataFrame(data)

     0    1   2   3   4   5    6   7   8   9
0   74    2  40  72  22   1   93  48  29  57
1   10   90  18  92  28  14   11  93  26  25
2   30   94  37  74  36  23   60  91  24  63
3    1   30  70  51  45  57   65   7  39  23
4   99   91  61  21   9  83   62  78  37  45
5   20  100  72  96  93  22   28  87  85   8
6   13   35  66  20  72  86   81  65  84  14
7   54   61  80  10  56  92   43  98  75  40
8    0   18  79  48  56  84  100  21  76  39
9   33   31   2  57  30  85   37  98  63  50
10   3    5  73   8  12  22   23  94  48   3
11  25   39  81  86   5  71   42  54  42  78
12  48   57  65  16  47  31   37  34  38  41
13  35   41  25  76   9  96   77   3  67  42

In [38]:

data_2019 = generate_data(10000,10)
data_2020 = generate_data(15000,10)

data2020.head()

    0   1   2   3   4   5   6   7   8   9
0  61  61   9  56  38  52  46  33  67   6
1  34  82  83  14  40  50  35  54  98   0
2  50  40  11  77  92  72  19  10  94   5
3  80  62  57  69  29  91  27  54  91  39
4  59  28  88  57  10  21  66  37  85  29

In [39]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Defining the StandardScaler
scaler = StandardScaler()
# Calculating two major compontents
pca = PCA(n_components=2)

# First scaling the data
X_2019_Scaled = scaler.fit(data_2019).transform(data_2019)
X_2020_Scaled = scaler.fit(data_2020).transform(data_2020)

In [40]:
# Let's calculate the covariance matrix
x_2019_covarianceMatrix = np.cov(np.transpose(np.array(X_2019_Scaled)))
x_2020_covarianceMatrix = np.cov(np.transpose(np.array(X_2020_Scaled)))

# Calculating the principal components in our data
pca_2019 = pca.fit(x_2019_covarianceMatrix).transform(x_2019_covarianceMatrix)
pca_2020 = pca.fit(x_2020_covarianceMatrix).transform(x_2020_covarianceMatrix)

In [41]:
pca_2019

array([[-0.31998267,  0.08919282],
       [ 0.25772937,  0.05100928],
       [ 0.49733791, -0.14769437],
       [ 0.30457058,  0.14783984],
       [-0.35962136, -0.39492543],
       [-0.20537022, -0.41605675],
       [ 0.43679085, -0.30461181],
       [-0.44084683, -0.09497645],
       [-0.02144676,  0.52592139],
       [-0.14916086,  0.54430147]])

In [42]:
pca_2020

array([[ 0.57955813, -0.09965427],
       [-0.20863371, -0.51194995],
       [-0.46080382,  0.3677939 ],
       [ 0.19426636, -0.12230447],
       [ 0.32153094, -0.20311374],
       [ 0.21803597,  0.54337358],
       [ 0.09571249,  0.22927504],
       [ 0.01493861, -0.15616007],
       [-0.46147609, -0.34187274],
       [-0.29312888,  0.29461272]])

In [43]:

# Let's vertically add the two prinicapl component to make a single vector 
df_2019_pca = pd.DataFrame(pca_2019, columns= ['comp1','comp2'])
df_2019_pca_vertically_apppended = df_2019_pca['comp1'].append(df_2019_pca['comp2']).reset_index(drop=True)

df_2020_pca = pd.DataFrame(pca_2020, columns= ['comp1','comp2'])
df_2020_pca_vertically_apppended = df_2020_pca['comp1'].append(df_2020_pca['comp2']).reset_index(drop=True)

# Similarity between 2019 and 2020 data

print('correlation of data of 2019 and 2020 is {}'
      .format(np.corrcoef(df_2019_pca_vertically_apppended,df_2020_pca_vertically_apppended)[0,1]))

correlation of data of 2019 and 2020 is -0.3783132913039509